<!DOCTYPE html>
<html>
<body>

<h2>HTML FORMS</h2>
<form action="/submit" method='post'>

    <label for="Science">Science:</label><br>
    <input type="text" id="science" name="science" value="0"><br>
    <label for="Maths">Science:</label><br>
    <input type="text" id="maths" name="maths" value="0"><br>
    <label for="History">Science:</label><br>
    <input type="text" id="history" name="history" value="0"><br>
    <label for="English">Science:</label><br>
    <input type="text" id="english" name="english" value="0"><br>
    <input type="submit" value="Submit">
</form>
<p>If you click on "Submit" button, the form data will be sent to a page called "/submit".</p>
</body>
</html>